{% extends 'master.html.twig' %}

{% block body %}
    <div class="container">
        <div class="container -white">
            <div class="site__navigation">
                <img src="{{asset('images/sitenav.png')}}"> <a href="">KÄRCHER</a>   <span>></span>   <a href="">Pompy</a> <span>></span>   <a href="">Pompy ciśnieniowe</a> <span>></span>   <a href="">BP 7 Home & Garden eco!logic</a>
            </div>

            <div class="products__wrapper">
                {# Szczegóły produktu
 
                 {% for prod in product %}
                     <a class="product__box">
                         <img src="{{asset('images/prod.jpg')}}">
                         <div class="title">{{prod.getTitle}}</div>
                         <div>{{prod.getDescript}}</div>
                     </a>
                 {% endfor %}#}
                 {% for prod in product %}
                <div class="container -white">
                    <div class="main__product">
                        <div class="left">
                            <div class="productShow">
                                <a data-lightbox="image-1"  class="product__show" href="assets/images/productshow.jpg">
                                    <img src="{{asset('uploads/images/' ~ prod.getImage())}}">
                                    <div class="productShow__content"><span><img class="lope__products" src="assets/images/lopeproduct.png"></span><span>Powiększ zdjęcie</span></div>
                                </a>
                                <a data-lightbox="image-1"  class="product__show" href="assets/images/productshow.jpg">
                                    <img src="{{asset('uploads/images/' ~ prod.getImage())}}">
                                    <div class="productShow__content"><span><img class="lope__products" src="assets/images/lopeproduct.png"></span><span>Powiększ zdjęcie</span></div>
                                </a>

                            </div>
                        </div>
                        <div class="right">
                           
                                <div class="main__productTitle">{{prod.getTitle()}}</div>
                                <div class="main__productText -custom">Producent: Kärcher</div>

                                <div class="main__productText -price">CENA: <span>278,99 zł</span></div>
                                <a class="main__productBtn">ZAPYTAJ O PRODUKT</a>
                                <div class="main__productionB">
                                    <div class="main__productionQ">ILOŚĆ</div>
                                    <input class="main__productioninput" placeholder="1">
                                    <button><img src="{{asset('images/icon-hamper.png')}}"><span> do koszyka</span></button>
                                </div>
                                <div class="main__productContent">
                                    <p>Broszury</p>
                                    <a href="{{ asset('uploads/brochures/' ~ prod.brochure) }}">
                                        <img src="{{asset('images/pdf_icon.png')}}" height="30px">
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="contentTitle">
                            <span>Opis</span>
                            <div class="arrowShow" style="background:url('assets/images/arrowshow.png');"></div>
                        </div>
                        <div class="contentText">
                            {{prod.getDescript()}}
                        </div>
                    {% endfor %}
                    <div class="content -title">Wyposażenie standardowe</div>
                    <div class="contentText -custom">
                        <div class="content__list">
                            • Prosty montaż węża <br>
                            • Adapter przyłączeniowy do pomp, G1<br>
                            • Obsługa wyłącznika stopą bez potrzeby schylania się<br>
                            • Automatyczna funkcja start/stop<br>
                            • Filtr wstępny i zawór zwrotny<br>
                            • Zabezpieczenie przed pracą na sucho<br>
                        </div>
                        <div class="content__list">
                            • Prosty montaż węża<br>
                            • Adapter przyłączeniowy do pomp, G1<br>
                            • Obsługa wyłącznika stopą bez potrzeby schylania się<br>
                            • Automatyczna funkcja start/stop<br>
                            • Filtr wstępny i zawór zwrotny<br>
                            • Zabezpieczenie przed pracą na sucho<br>
                        </div>
                    </div>
                    <div class="content -title">Wyposażenie standardowe</div>
                    <div class="contentText -custom">
                        <div class="content__list">
                            • Prosty montaż węża <br>
                            • Adapter przyłączeniowy do pomp, G1<br>
                            • Obsługa wyłącznika stopą bez potrzeby schylania się<br>
                            • Automatyczna funkcja start/stop<br>
                            • Filtr wstępny i zawór zwrotny<br>
                            • Zabezpieczenie przed pracą na sucho<br>
                        </div>
                    </div>
                    <div class="contentTitle">
                        <span>SPECYFIKACJA</span>
                        <div class="arrowShow" style="background:url('assets/images/arrowshow.png');"></div>
                    </div>
                    <div class="content -title">Dane technicznee</div>
                    <div class="tech__description">
                        <div class="tech__box">
                            <span>Moc maksymalna (W)</span>
                            <span>	1200</span>
                        </div>
                        <div class="tech__box">
                            <span>Moc maksymalna (W)</span>
                            <span>	1200</span>
                        </div>
                        <div class="tech__box">
                            <span>Moc maksymalna (W)</span>
                            <span>	1200</span>
                        </div>
                        <div class="tech__box">
                            <span>Moc maksymalna (W)</span>
                            <span>	1200</span>
                        </div>
                        <div class="tech__box">
                            <span>Moc maksymalna (W)</span>
                            <span>	1200</span>
                        </div>
                        <div class="tech__box">
                            <span>Moc maksymalna (W)</span>
                            <span>	1200</span>
                        </div>
                        <div class="tech__box">
                            <span>Moc maksymalna (W)</span>
                            <span>	1200</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container -matching">
                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

                <a class="matching__product">
                    <img src="{{asset('images/matchingproduct.jpg')}}">
                    <div class="matching__title">Lorem ipsum</div>
                    <div class="matching__price">4000 zł</div>
                </a>

            </div>
        </div>
    </div>
</div>
{% endblock %}